.pagination-panel {
  margin: 20px 0;
  opacity: 0.77;
  font-size: 9pt;

  padding: 0 18px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination > li {
  display: inline;
  padding: 6px;
  margin: 0 3px;
  cursor: pointer;
}

.pagination > li.pagination-page.active {
  background-color: #3b82de;
  color: #fff;
}

.pagination > li.disabled {
  cursor: not-allowed;
  opacity: 0.38;
}

.page-size-selector {
  margin-left: 64px;
}

.page-size-selector .page-size-select {
  height: 28px;
  line-height: 28px;
  opacity: 0.77;
  border-radius: 4px;
  padding-right: 2px;
}

.page-size-selector .page-size-text {
  margin-left: 8px;
}

.pagination-summary {
  float: right;
}

.paginator {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: 0 !important;
  transition: transform 0.25s ease;
}

.paginator:active {
  transform: scale(1.5);
}

.paginator:disabled {
  cursor: not-allowed;
}

.pagination-panel-left {
  flex-grow: 1;
}

.pagination-panel-right {
  display: flex;
  align-items: center;
}

.refresh {
  transform: scaleX(-1);
  margin-left: 6px;
  cursor: pointer;
}

.refresh:active {
  transform: scale(-1.5, 1.5);
}
